{% extends 'emails/base.html.twig' %}


{% block body %}
    <p><strong>Bonjour {{ user.firstName }} {{ user.lastName }}</strong>,</p>
    <p>Afin de réinitialiser votre mot de passe, veuillez suivre le lien suivant :</p>
    <a href="{{ reset_password_url }}" class="button">Réinitialiser mon mot de passe</a>
    <p>Ce lien reste actif durant 24h.</p>
    <p>Si vous n'avez pas effectuer cette demande, merci d'ignorer cet e-mail.</p>
    <p class="sub">Si vous avez des difficultés pour cliquer sur le
        bouton de réinitialisation de votre mot de passe, copiez
        collez le lien suivant dans votre navigateur :</p>
    <a href="{{ reset_password_url }}">
        {{ reset_password_url }}
    </a>
    <p class="sub">

    </p>
{% endblock %}


